# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class




# OUR STUFF
data/PDB
data/uniprot
data/uniprotMon-Jun-8-10:28:13-2020.txt.gz
sequences
src/obsolete
src/alt.py
src/functions.py
src/no_metal_site.txt
src/uniprot.txt.gz
