# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class




# OUR STUFF
data/PDB
sequences
src/obsolete
data/uniprot
src/alt.py
src/functions.py
src/no_metal_site.txt
src/uniprot.txt.gz